# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. RStudio

Some of the commonly used libraries used by Data Scientists include: 
1. Numpy
2. Keras
3. Pandas

|Data Science Tools|
|:----------------:|
|Pandas|
|Spark|
|Hadoop|

### Below are a few example of evaluating arithmetic expressions in Python

This a simple arithemtic expression to multiply then add integers.

In [44]:
(3*4)+5

17

In [48]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

**Objectives:**

- Python
- SQL
- R Studio

## Author

name: Kristen Gao